@import 'variables';
@import 'globals';

//logo
.logo{
	display: block;
	margin: 2.5rem auto;
}

//main
main{
	background-color: $white;
	border-radius: 1.25rem;
	padding: 2rem;
	max-width: 31.25rem;
	margin: 0 auto;

	@include for-size(desktop){
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 30rem;
		max-width: 57.5rem;
		padding: 0;

		section{
			max-width: 50%;
			max-height: 100%;
		}

		.btn-container{
			margin: 3rem 0;
		}
	}
}

//input section
.input-section{

	@include for-size(desktop){
		max-width: 50%;
		margin: 3rem 1.5rem 3rem 3rem;
	}

	label{
		display: block;
		color: $dark-grayish-cyan1;
		margin-bottom: 0.625rem;
	}

	input{
		border: none;
		border-radius: 5px;
		background-color: $light-grayish-cyan2;
		direction: rtl;
		padding: 0.4rem 1.25rem;
		width: 100%;
		color: $very-dark-cyan;
		font-size: 1.5rem;

		@include for-size(desktop){
			padding: 0.4rem 1rem;
		}

		&:focus{
			outline: 3px solid $strong-cyan;
		}
	}

	input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

	input[type=number] {
		-moz-appearance: textfield;
	}

	::placeholder{
		color: $dark-grayish-cyan2;
	}

	.input-field{
		position: relative;
		margin-bottom: 2.5rem;

		@include for-size(desktop){
			margin-bottom: 0;
		}
	}

	.icon{
		position: absolute;
		left: 1.25rem;
		top: 3.1rem;
	}

	.tip-buttons{
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 2.5rem;

		@include for-size(desktop){
			margin-bottom: 0;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.btn{
		border: none;
		height: 3.05rem;
		cursor: pointer;

		font : {
			size: 1.5rem;
		}

		border-radius: 5px;
		background-color: $very-dark-cyan;
		color: $white;

	}

	.active{
		background-color: $strong-cyan;
		color: $very-dark-cyan;
	}
}

//error msg and input
.input-field{

	small{
		position: absolute;
		color: $red;
		right: 0;
		top: 0.2rem;
		visibility: hidden;
	}

	&.error small{
		visibility: visible;
	}

	&.error input{
		outline: 3px solid $red;
	}
}

//output-section
.output-section{
	background-color: $very-dark-cyan;
	border-radius: 1.25rem;
	padding: 2.875rem 1.5rem 1.5rem 1.5rem;

	@include for-size(desktop) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-self: stretch;
		min-height: 100%;
		width: 100%;
		margin: 2rem 2rem 2rem 1.5rem;
		padding: 3.75rem 2.5rem 2.5rem 2.5rem;
	}
	

	.bill-container{
		margin-bottom: 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include for-size(desktop) {
			margin-bottom: 3rem;
		}
	}

	.tip-title{
		color: $white;
	}

	.per-person{
		color: $dark-grayish-cyan2;
	}

	.tip-value,
	.total-value{
		color: $strong-cyan;
		font-size: 2rem;

		@include for-size(desktop) {
			font-size: 2.5rem;
		}
	}

	.reset{
		background-color: $strong-cyan;
		color: $very-dark-cyan;
		border: none;
		width: 100%;
		height: 3rem;
		font-size: 1.4rem;
		border-radius: 5px;
		cursor: pointer;

		&:hover{
			background-color: $light-grayish-cyan3;
		}
	}
}




//footer
.attribution {
	font-size: 0.625rem;
	font-weight: 400;
	text-align: center;

	a {
		color: hsl(228, 45%, 44%);
	}
}
